<div id="chart_container">
  <div id="chart"></div>
  <div id="legend_container">
    <div id="smoother" title="Smoothing"></div>
    <div id="legend"></div>
  </div>
  <div id="slider"></div>
</div>

<script>
$(function(){
  var seriesData = [ [], [] ];

  <% @today_values.each do |val| %>
    seriesData[0].push({ x: <%= val['time'] %>, y: <%= val['count'] %> });
  <% end %>
  <% @publications_today_values.each do |val| %>
    seriesData[1].push({ x: <%= val['time'] %>, y: <%= val['count'] %> });
  <% end %>
  // instantiate our graph!

  var graph = new Rickshaw.Graph( {
    element: document.getElementById("chart"),
    width: 960,
    height: 500,
    renderer: 'line',
    series: [
      {
        color: "#c05020",
        data: seriesData[0],
        name: 'Facebook logins'
      }, {
        color: "#30c020",
        data: seriesData[1],
        name: 'Publication search'
      }
    ]
  } );

  graph.render();

  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph
  } );

  var legend = new Rickshaw.Graph.Legend( {
    graph: graph,
    element: document.getElementById('legend')

  } );

  var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
    graph: graph,
    legend: legend
  } );

  var axes = new Rickshaw.Graph.Axis.Time( {
    graph: graph
  } );
  axes.render();

});

</script>

